@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@keyframes softGradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: linear-gradient(120deg, #d4fcf0, #ffe9d6, #fff5ec);
  background-size: 200% 200%;
  animation: softGradientMove 15s ease infinite;
}
